<h1>Hello, <%= @game.player_name %>!</h1>

<% if @game.player_weapon.nil? %>

  <h3>Here are you weapon choices, please select one:</h3>

  <form action="/play" method="post">
    <input type="submit" name="player_weapon" value="Rock">
    <input type="submit" name="player_weapon" value="Paper">
    <input type="submit" name="player_weapon" value="Scissors">
  </form>

<% else %>

  <h3>You chose <%= @game.player_weapon %>!</h3>
  <h3>Computer chose <%= @game.computer_weapon %>!</h3>

<% end %>
