<h1>Hello, <%= @name %>!</h1>

<h3>Here are you weapon choices:</h3>

<form>
  <input type="submit" value="Rock">
  <input type="submit" value="Paper">
  <input type="submit" value="Scissors">
</form>
