<h1>Hello, <%= @player_name %>!</h1>

<h3>Here are you weapon choices, please select one:</h3>

<form action="/result">
  <input type="submit" name="player_weapon" value="Rock">
  <input type="submit" name="player_weapon" value="Paper">
  <input type="submit" name="player_weapon" value="Scissors">
</form>
